    <section class="bg-light" id="aboutus">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">عن نذاكر</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <img src="img/about/about-image.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">أول موقع إلكترونى يهتم بشرح المناهج المدرسية للأباء فى فيديو قصيرة المدة يتراوح بين (5- 10 دقائق ) لكل درس يعمل على شرح الفكرة الاساسية للدرس مع طريقة شرحها ومثال عليها مما يعد استفاده كبرى لرفع مستوى الاباء فى توصيل المعلومة بشكل صحيح لابنائهم ولتوفير الوقت.</p>
                    <p class="large text-muted">تم تأسيس موقع نذاكر استجابة إلى للحاجة المستمرة لدى اولياء اللامور والعاملين بالعملية التعليمية إلى اتقان المواد الدراسية والطرق السليمة لتدريس المناهج إلي الطلاب والطالبات فى مراحل التعليم المختلفة.</p>
                    <p class="large text-muted">يهدف موقع نذاكر إلى رفع مستوى الاباء فى طرق المذاكر مع ابنائهم وبناتهم ذلك لوجود اختلاف كبير بين المناهج فى الاجيال المختلفة وللتغير الكبير الحادث على المناهج الدراسية.</p>
                    <p class="large text-muted">إننا على وعي كبير بأن الاباء والامهات المستخدمون لموقع نذاكر يحملون معهم تجارب تعليمية واكاديمية مختلفة وخلفيات مهنية متنوعة ونحن نسعى بكل جهد على أخذ جميع هذه الحيثيات في الحسبان خلال إعداد الدروس المقدمة.</p>
                </div>
            </div>
        </div>
    </section>