    <section class="bg-light" id="howitworks">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">كيف يعمل</h2>
                    <h3 class="section-subheading text-muted">في هذا القسم يمكن الاطلاع على طريقة عمل نذاكر وكيفية الاشتراك وكذلك اضافة الفيديوهات الخاصة بك إلى الموقع .</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="img/howitworks/register.jpg" alt="">
                                <!--<h4></h4>-->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>تسجيل المعلم</h4>
                                    <!--<h4 class="subheading">Our Humble Beginnings</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> نذاكر خدمة مجانية لأولياء الأمور والمدرسين تساعد المهتمين بالعملية التعليمية تحصيل المناهج التعليمية بطريقة صحيحة وسهلة تساعد الطلاب في تحصيل دروسهم.<br>عند تسجيل على موقع نذاكر يمكنك اضافة الفيديوهات الخاصة بك إلى الموضع وسيتم مراجعتها واضافتها الى دروس موقع نذاكر لتكون متاحة إلى أولياء الأمور والمدرسين يمكن التسجيل من خلال هذا الرابط <a href="https://nezaker.com/register">اشترك الآن</a></p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="img/howitworks/record_video.jpg" alt="">
                                <!--<h4></h4>-->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>تصوير الدروس</h4>
                                    <!--<h4 class="subheading">Our Humble Beginnings</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        في هذا القسم سنقوم بعرض طريقتين مختلفتين لتسجيل وتصوير الفيديوهات الخاصة بك (التسجيل باستخدام جهاز الكمبيوتر – بالتسجيل باستخدام الكاميرا) ويمكنك استخدام الطريقتين باختلاف نوعية الدرس وطريقة الشرح قم بالضغط على الطريقة التي تناسب لمعرفة المزيد و الاطلاع على الفيديوهات والبرامج التي تساعدك في تسجيل الفيديوهات الخاصة بك.
                                        <br>
                                        <a href="https://nezaker.com/how-to-record-the-video#computer-recording">
                                            الطريقة الأولى :- استخدام جهاز الكمبيوتر
                                        </a>
                                        <a href="https://nezaker.com/how-to-record-the-video#cam-recording">
                                            الطريقة الثانية:- استخدام الكاميرا
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="img/howitworks/register.jpg" alt="">
                                <!--<h4></h4>-->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>تسجيل المعلم</h4>
                                    <!--<h4 class="subheading">Our Humble Beginnings</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> نذاكر خدمة مجانية لأولياء الأمور والمدرسين تساعد المهتمين بالعملية التعليمية تحصيل المناهج التعليمية بطريقة صحيحة وسهلة تساعد الطلاب في تحصيل دروسهم.<br>عند تسجيل على موقع نذاكر يمكنك اضافة الفيديوهات الخاصة بك إلى الموضع وسيتم مراجعتها واضافتها الى دروس موقع نذاكر لتكون متاحة إلى أولياء الأمور والمدرسين يمكن التسجيل من خلال هذا الرابط <a href="https://nezaker.com/register">اشترك الآن</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="img/howitworks/register.jpg" alt="">
                                <!--<h4></h4>-->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>تسجيل المعلم</h4>
                                    <!--<h4 class="subheading">Our Humble Beginnings</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> نذاكر خدمة مجانية لأولياء الأمور والمدرسين تساعد المهتمين بالعملية التعليمية تحصيل المناهج التعليمية بطريقة صحيحة وسهلة تساعد الطلاب في تحصيل دروسهم.<br>عند تسجيل على موقع نذاكر يمكنك اضافة الفيديوهات الخاصة بك إلى الموضع وسيتم مراجعتها واضافتها الى دروس موقع نذاكر لتكون متاحة إلى أولياء الأمور والمدرسين يمكن التسجيل من خلال هذا الرابط <a href="https://nezaker.com/register">اشترك الآن</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>