
 <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href='/viewAllContent' class="list-group-item active">Video</a>
            <a href="/viewAllLesson" class="list-group-item">Lessons</a>

            <a href="/viewSubject" class="list-group-item">Subjects</a>
            <a href="/viewAllGrades"  class="list-group-item">Grades</a>
            <a href="/viewAllStages" class="list-group-item">Stages</a>
            <a href="/viewAllUsers" class="list-group-item">Users</a>
            <a href="/viewAllRoles" class="list-group-item">Roles</a>
           
          </div>
        </div>