<!DOCTYPE html>

<% include ../layout/layoutAnonymous %>
       <section id="contact" ng-app>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">غير مصرح لك بدخول هذه الصفحه</h2>
                    <h3 class="section-subheading"></h3>
                </div>
            </div>
</div>

    </section>
    <% include ../layout/footer %>
