<!DOCTYPE html>

<% include ../layout/layout %>
  
  <div class ="container"
       data-ng-cloak
         data-ng-app="AppModule"
       data-ng-controller="LessonController">
    
    <form
       class="navbar-form navbaar-left" role="search"
     method='post', name='formLesson' , action='/createLesson'>
      <div class ="row">
        <div class="form-group">
          <lable for="">name</lable>
          <input type="text"
                 class="form-control"
                 placeholder="name"
                 id="name"
                 name="name"
                 style="width:100%" required=""/>
        </div>
      </div>
      <div class ="row">
        <div class="form-group">
          <lable for="">subject_id</lable>
     <!--   <select class="form-control"
     name ="subject"
     id ="subject"
     
     >
     <option value="">Please select subject</option>
     <option ng-repeat="subject in subjects"
     value={{subject.id}}>{{subject.name}}></option></select>
      -->
       <select class="form-control" name ="subject_id" id ="subject"   >
            <option value="">Please select subject</option>
        
            <% for(var i=0; i < subjects.length; i++) { 
            %>
            <option value="<%=subjects[i].id %>"  ><%=subjects[i].name %></option> 
                <%}%>
          </select>
        
        </div>
      </div>
      <div class ="row">
        <div class="form-group">
          <lable for="">status</lable>
          <input type="text"
                 class="form-control"
                 placeholder="status"
                 id="status"
                 name="status"
                 style="width:100%" required=""/>
        </div>
      </div>
      <div class ="row">
        <div class="form-group">
          <lable for="">ordering</lable>
          <input type="text"
                 class="form-control"
                 placeholder="ordering"
                 id="ordering"
                 name="ordering"
                 style="width:100%" required=""/>
        </div>
      </div>
     <div class ="row">
        <div class="form-group">
          <lable for="">Description</lable>
          <textarea 
                 class="form-control"
                 placeholder="Description"
                 id="description"
         rows="5"
         columns="30"
                 name="description"
                 style="width:100%" required="" ></textarea>
        </div>
      </div>
      <div class ="row">
        <div class="form-group">
            <input type="submit" name="submit" value="Save"/>

        </div>
      </div>
    </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>

  <script src="nezaker/app/AppModule.js"></script>
  
    <script src="nezaker/app/subjectService.js"></script>
  <script src="nezaker/app/LessonService.js"></script>
  <script src="nezaker/app/LessonController.js"></script>

<% include ../layout/footer %>
