<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Agency - Start Bootstrap Theme</title>
    <!-- Bootstrap core CSS -->
    <link href="http://localhost:5000/nezaker/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="http://localhost:5000/nezaker/vendor/bootstrap/css/carousel.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="http://localhost:5000/nezaker/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="http://localhost:5000/nezaker/css/agency.css" rel="stylesheet">
    <link href="http://localhost:5000/nezaker/css/bootstrap-social.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
        <script type="text/javascript" src="/nezaker/js/ng-file-upload/dist/ng-file-upload.min.js"></script>
  <script type="text/javascript" src="/nezaker/js/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>

        <script src="http://localhost:5000/nezaker/app/AppModule.js"></script>
    <script src="http://localhost:5000/nezaker/app/HomeController/HomeController.js"></script>
  <script src="http://localhost:5000/nezaker/js/underscore-min.js"></script>


<body id="page-top" ng-app="AppModule">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logos/logo.png" /></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">                
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="background-color: #51B6E0; border-radius: 50px;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">

                        <a class="nav-link js-scroll-trigger" href="/dashboard">الصفحة الرئيسية </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/HowItWork">كيف يعمل</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/LessonsPage">كل الدروس</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/createContent">اضف درس</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/AboutUs">عن نذاكر</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/ContactUs">اتصل بنا</a>
                    </li>
                </ul>
            </div> 
            <div class="navbar-brand user" style="background-image:url('img/team/user.jpg')"></div>
          
 <% include ../layout/UserLoginLink %>
      </div>
    </nav>
    <!-- Header -->
   

    <header class="masthead">
        <!--<div class="container">
          <div class="intro-text">
            <div class="intro-lead-in">Welcome To Our Studio!</div>
            <div class="intro-heading">It's Nice To Meet You</div>
            <a class="btn btn-xl js-scroll-trigger" href="#services">Tell Me More</a>
          </div>
         </div>-->
       
    </header>
 