<!DOCTYPE html>
<div ng-controller="HomeController">
    <section id="footer" >
        <div class="container">
            <div class="row bottomfourcol">

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 bottomAbout">
                    <h5 class="heading">تواصلوا معنا عبر</h5>

                </div>


                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-init="getLastContents()">
                    <h5 class="heading">أحدث الفيديوهات</h5>
                    
                    <ul class="footerLinks">
                        <li ng-repeat="F_content in LastContents | limitTo:3">
                            <span>
                            {{F_content.lesson.subject.name}}-
                        <a data-toggle="modal" ng-click="SetContentID(F_content)"
                         href="#portfolioModal1">
                            {{F_content.lesson.name}}
                                </a>
                                <span>
                            {{F_content.user.first_name}}  {{F_content.user.last_name }}
                                </span>
                            </span>
                        </li>
                        </ul>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5 class="heading">كيف يعمل؟</h5>
                    <ul class="list">
                        <li>
                            <a href="https://nezaker.com/how-it-works#about-us-tab-0">
                                تسجيل المعلم
                            </a>
                        </li>
                        <li>
                            <a href="https://nezaker.com/how-it-works#about-us-tab-1">
                                كيف تقوم بتصوير الدروس؟
                            </a>
                        </li>
                        <li>
                            <a href="https://nezaker.com/how-it-works#about-us-tab-2">
                                ارسال الفيديو
                            </a>
                        </li>
                        <li>
                            <a href="https://nezaker.com/how-it-works#about-us-tab-3">
                                مراجعة الفيديوهات واضافاتها
                            </a>
                        </li>
                        <li>
                            <a href="https://nezaker.com/how-it-works#about-us-tab-4">
                                تصفح الآباء لنذاكر
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5 class="heading">روابط مهمة</h5>
                    <ul>
                        <li><a href="https://nezaker.com/register">سجل الأن</a></li>
                        <li><a href="https://nezaker.com/terms-and-conditions">الشروط والأحكام</a></li>
                        <li><a href="https://nezaker.com/contact-us">تواصل معنا</a></li>
                    </ul>
                </div>

            </div>
        </div>
      
    </section>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="pull-right">
                        <a class="js-scroll-trigger" href="#page-top">بداية الصفحة<i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pull-left">
                        <p>Copyright Nezaker.com © 2017</p>
                    </div>
                </div>

            </div>

        </div>
    </footer>
  <div class="LargePopup_view modal fade"  id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body" id ="ContentFooterIFrame">
                                <!-- Project Details Go Here -->
                                <h2>{{Content.lesson.name}}</h2>
                                <p class="item-intro text-muted">
                                    {{Content.lesson.subject.grade.name}}  
                                    {{Content.lesson.subject.grade.stage.name}}-{{Content.lesson.subject.name}} - {{Content.lesson.name}} 
                                </p>
                             
                                 <iframe class="video w100" width="640" height="360" 
                                 src="{{ContentUrl}}" frameborder="0" allowfullscreen></iframe>

                                <ul class="list-inline">
                                    <li>Date: {{Content.created_at| date:'medium'}}</li>
                                    <li>{{Content.user.first_name}}  {{Content.user.last_name}}</li>
                                    <li>{{Content.lesson.subject.grade.name}}  
                                    -{{Content.lesson.subject.grade.stage.name}}-{{Content.lesson.subject.name}} -{{Content.lesson.name}}  </li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close 
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>

  <script >
$(function () {    
    /* hidden.bs.modal event example */
    $('#viewContentModal1').on('hidden.bs.modal', function () {
          $('#ContentIFrame').children('iframe').attr('src', '');
    });
  
    $('#portfolioModal1').on('hidden.bs.modal', function () {
          $('#ContentFooterIFrame').children('iframe').attr('src', '');
    });
    
});

</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <script src="http://localhost:5000/nezaker/vendor/jquery/jquery.min.js"></script>
    <script src="http://localhost:5000/nezaker/vendor/popper/popper.min.js"></script>
    <script src="http://localhost:5000/nezaker/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="http://localhost:5000/nezaker/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact form JavaScript -->
    <script src="http://localhost:5000/nezaker/js/jqBootstrapValidation.js"></script>
<!--     <script src="http://localhost:5000/nezaker/js/contact_me.js"></script>-->
   
    <!-- Custom scripts for this template -->
    <script src="http://localhost:5000/nezaker/js/agency.min.js"></script>
</body>
</html>
