<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Agency - Start Bootstrap Theme</title>
    <!-- Bootstrap core CSS -->
    <link href="http://localhost:5000/nezaker/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="http://localhost:5000/nezaker/vendor/bootstrap/css/carousel.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="http://localhost:5000/nezaker/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="http://localhost:5000/nezaker/css/agency.css" rel="stylesheet">
    <link href="http://localhost:5000/nezaker/css/bootstrap-social.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
      <script src="http://localhost:5000/nezaker/app/AppModule.js"></script>

    <script src="http://localhost:5000/nezaker/app/HomeController/HomeController.js"></script>

<body id="page-top"  ng-app="AppModule" >
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logos/logo.png" /></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">                
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="background-color: #51B6E0; border-radius: 50px;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">

                        <a class="nav-link js-scroll-trigger" href="/HomePage#page-top">الصفحة الرئيسية </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#howitworks">كيف يعمل</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#recentlessons">كل الدروس</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#aboutus">عن نذاكر</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">اتصل بنا</a>
                    </li>
                </ul>
            </div> 
            <div class="navbar-brand user" style="background-image:url('img/team/user.jpg')"></div>
<!--             <%= (user!=null)?user.username:""%>
 -->

 <a class="nav-link js-scroll-trigger" href="/signin" ng-show=<%user==null%>>   sign in </a>
 <% include ../layout/UserLoginLink %>

            <!--<ul class="nav navbar-nav ">               
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin"><div class="user" style="background-image:url('img/team/user.jpg')"></div></a>
                    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;min-width:max-content;">
                        <form class="form-horizontal" method="post" accept-charset="UTF-8">
                            <input id="sp_uname" class="form-control login" type="text" name="sp_uname" placeholder="Username.." />
                            <input id="sp_pass" class="form-control login" type="password" name="sp_pass" placeholder="Password.." />
                            <input class="btn btn-primary" type="submit" name="submit" value="login" />
                        </form>
                    </div>
                </li>
            </ul>-->                             
            
        </div>
    </nav>
    <!-- Header -->
    <header class="masthead">
        <!--<div class="container">
          <div class="intro-text">
            <div class="intro-lead-in">Welcome To Our Studio!</div>
            <div class="intro-heading">It's Nice To Meet You</div>
            <a class="btn btn-xl js-scroll-trigger" href="#services">Tell Me More</a>
          </div>
         </div>-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="first-slide" src="" alt="">
                    <div class="container">
                        <div class="carousel-caption d-none d-md-block text-right">
                            <h1>نذاكر</h1>
                            <p>أول موقع ألكترونى يهتم بشرح المناهج المدرسية للأباء فى فيديو قصيرة المدة يتراوح بين (5- 10 دقائق ) لكل درس يعمل على شرح الفكرة الاساسية للدرس مع طريقة شرحها ومثال عليها مما يعد استفاده كبرى لرفع مستوى الاباء فى توصيل المعلومة بشكل صحيح لابنائهم ولتوفير وقت كبير جدا .</p>
                            <p><a class="btn btn-lg btn-primary js-scroll-trigger" href="#recentlessons" role="button">عرض الدروس</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="second-slide" src="" alt="">
                    <div class="container">
                        <div class="carousel-caption d-none d-md-block text-right">
                            <h1>تطوير العملية التعليمية</h1>
                            <p>نذاكر يعمل على توصيل معلومة صحيحة وبطريقة لا يحتاج فيها الاباء الى مجهود ووقت كبير , وكذلك يعمل على اكتشاف مواهب الاطفال للاتصال المباشر بينهم وبين ابائهم لفتره من الوقت وكذلك متابعة مستوى الابناء الدراسى والعقلي </p>
                            <p><a class="btn btn-lg btn-primary js-scroll-trigger" href="#recentlessons" role="button">عرض الدروس</a></p>
                        </div>
                    </div>
                </div>                
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>