<!DOCTYPE html>
<!--   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
 -->

    <div class="container">
    <div class="row">    
       
   <div class="panel panel-default">
            <div class="panel-body" ng-init="getAllLessons()">
         <div class="btn-group">
                    <button type="button" class="btn btn-primary "  ng-click="getAllLessons()" >
                     الكل<span class="caret"></span>
                    </button>
                   </div>           
                <div class="btn-group" ng-repeat="stage in StagesNav">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                       {{stage.name}} <span class="caret"></span>
                    </button>
                     <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="grade in stage.grades">
                        <a href=""  
                         ng-click="getSubjectByGradeID(grade.id)">{{grade.name}}</a></li>
                    </ul>
                </div>
                
            </div>

        </div>
  </div>
    </div>
                       
              <!--   <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">Default 1</div>
                        <div class="tab-pane fade" id="tab2default">Default 2</div>
                        <div class="tab-pane fade" id="tab3default">Default 3</div>
                        <div class="tab-pane fade" id="tab4default">Default 4</div>
                        <div class="tab-pane fade" id="tab5default">Default 5</div>
                    </div>
                </div> -->
            
