<!DOCTYPE html>

<% include ../layout/layoutAnonymous %>
    <section id="contact" ng-app>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">تسجيل الدخول</h2>
                    <h3 class="section-subheading">من فضلك قم بإدخال بريدك الإلكتروني المسجل و كلمة المرور .</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <form novalidate id="signin" name="signin" method="post" action="signin" >
                  <div class="row">
                  <div class="col-md-6">
                  	<div class="form-group">
    					<input class="form-control" id="email" name ="email" type="email" placeholder="البريد الألكتروني *" required data-validation-required-message="البريد الألكتروني.">
                          <p class="help-block"></p>
                   	</div>
                   	<div class="form-group">

    					<input class="form-control"  name="password" type="password" placeholder="كلمة المرور *" required data-validation-required-message="كلمة المرور"/>
                         <p class="help-block"></p>

						</div>
				      <div class="form-group">

				<button id="btnSignIn" value="Sign In" class="btn btn-xl" type="submit" ng-disabled="signin.$invalid">تسجيل الدخول</button>
				</div>

				</div>
                       <div class="col-sm-3">
                         <div class="form-group">
                 <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
            	<span class="fa fa-facebook"></span> Sign in with Facebook
          	</a>
          	<a class="btn btn-block btn-social btn-google" href="/auth/google">
            	<span class="fa fa-google"></span> Sign in with Google
         	 </a>
          
			 <a class="btn btn-block btn-social btn-twitter" href="/auth/twitter">
            <span class="fa fa-twitter"></span> Sign in with Twitter
          </a>
    						</div>
						</div>
</div>
</div>
  </form>
 </div>
            </div>
        </div>
    </section>
    <% include ../layout/footer %>
