<!DOCTYPE html>
 <div class="row" ng-show="ViewSubjectDiv">
            <div ng-show="SelectedSubject.length==0">لا يوجد مواد </div>

                <div ng-repeat="sub in SelectedSubject" width="50%" class="col-md-2 portfolio-item">
                      <button style="background-color:transparent; border: none;   color: inherit;" class="navbar-btn portfolio-link" href=" " ng-click="getLessonsBySubjectID(sub.id)">

                        <img class="img-fluid portfolio-img " width="100" height="100" src="nezaker/SubjectIcons/{{ sub.IconUrl}} " ng-show={{sub.IconUrl!=null}} alt="">

                        <img class="img-fluid portfolio-img " width="100" height="100" src="nezaker/SubjectIcons/library (1).png" ng-show={{sub.IconUrl==null}}  alt="">
                    <!-- </a> -->
                      </button>
                      <div class="portfolio-caption">
                        <h4>{{sub.name}}%></h4>
                      </div>
                </div>
      </div>
       <div class="row" ng-show="ViewLessonDiv" >
        <div ng-show="SelectedContents.length==0">لا يوجد دروس </div>
        <div ng-repeat="content in SelectedContents| limitTo: 6" width="50%" class="col-md-2 ">
           <a data-toggle="modal" ng-click="LoadContentPopup(content)" href="#viewContentModal1">
            <img class="img-fluid portfolio-img " src={{content.thumbnail}} alt="">
            </a>
            <div class="portfolio-caption">
              <h6>{{ content.lesson.name}}</h6>
              <h6>{{content.lesson.subject.name}}</h6>
               <p class="text-muted">{{content.lesson.subject.grade.name}}</p>
               <p class="text-muted">{{content.user.first_name}} {{content.user .last_name}}</p>
            </div>
        </div>
       
                    <a  ng-show="SelectedContents.length>0" ng-href="/viewSubjectLessons/{{SelectedSubjectID}}" class="list-group-item"> See More...</a>

   </div> 