<!DOCTYPE html>

  <div class="LargePopup_view modal fade"  id="UserModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                <h3 class="modal-title">تعديل</h3>
            </div>
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
 <form  class="navbar-form navbaar-left" >
<div class="row">
                       <div class="col-md-6">
                           
                          <div class="form-group">
                             <input class="form-control" id="first_name" ng-model="user.first_name"
                            name ="first_name" type="text" placeholder="الإسم الأول*" required data-validation-required-message="الإسم الاول">
                          </div>
                          <div class="form-group">
                                  <input class="form-control" id="last_name" name ="last_name" 
                                  ng-model="user.last_name" type="text" placeholder="الإسم الثاني*" required data-validation-required-message="الإسم الثاني">
                          </div>
                         

              <div class="form-group">
             <input class="form-control" id="phone_numbers" name ="phone_numbers" 
              ng-model="user.phone_numbers" maxlength="15" pattern="\d*" placeholder="رقم التليفون*" required data-validation-required-message="رقم التليفون.">
           </div>
              <div class="form-group">

           <select class="form-control" ng-model ="user.city_id" id ="city"   >
            <option value="">اختر المدينه</option>
                 <option ng-repeat="city in cities" ng-value="city.id" 
             ng-selected="city.id==user.city_id">{{city.name}}</option> 
          </select>

          </div>
        </div>
<div class="col-md-6">
            <div class="form-group">
              <input class="form-control" id="password" ng-model="user.password" ng-required="user.id==null" type="password" placeholder="كلمة المرور *" />
            </div>
            <div class="form-group">

                       <input type="password" ng-required="user.id==null" class="form-control" id="inputPasswordConfirm" data-match="#password" data-match-error=" these don't match" placeholder="Confirm" >
        <div class="help-block with-errors"></div>

            </div>

           <div class="form-group">

       <select class="form-control" ng-model ="user.account_type_id" id ="accountType"   >
            <option value="">اختر نوع الحساب</option>
                    <option ng-repeat="accountType in AccountTypes" ng-value="accountType.id" 
             ng-selected="accountType.id==user.accountType_id">{{accountType.name}}</option> 
          </select>

          </div>
           <div class="form-group">
        <div ng-repeat="statusObj in statusArray">
        <label >
          <input type="radio" ng-model="user.status"  name="status"  ng-value="statusObj.value"> {{statusObj.text}}
        </label><br/>
        </div>
      </div>
      </div></div>
      <div class="row">

       <div class="col-lg-12 text-center">
              <div class="form-group">
                <button class="btn btn-primary" data-dismiss="modal" type="submit" ng-click="SubmitForm()" >حفظ   
                </button>
                 <button class="btn btn-primary" data-dismiss="modal" type="button">
           <i class="fa fa-times"></i>
                    Close 
                                </button>
            </div>
          
          </div>


</div>         
           </form>
          
                   
        
            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>