<!DOCTYPE html>
<% include ../layout/layout %>
  
  <div >
      <iframe class="video w100" width="640" height="360" src="//www.youtube.com/embed/<%=content.youtube_video_id%>" frameborder="0" allowfullscreen></iframe>

  </div>
<% include ../layout/footer %>
